body {
    font-family: Tahoma;
	font-size: 12px;
    background-color: #f9f9f9;
    color: #000;
    margin: 0;
    padding: 0;
}

#menu {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 190px;
	background-color: #FFF;
	border: 1px solid grey;
	padding: 0px 5px 5px 5px;
}

#menu ul { padding: 0px 0px 0px 15px; margin: 0; }

#content {
	position: absolute;
	top: 5px;
	left: 210px;
	width: 800px;
	background-color: #FFF;
	border: 1px solid grey;
	padding: 0px 5px 5px 5px;
}

div h1 {
	font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 3px 3px 3px 3px;
    border-bottom: 1px solid #aaaaaa;
}

a:link.bold { font-weight: bold; text-decoration: none; color: #000000; }
a:visited.bold { font-weight: bold; text-decoration: none; color: #000000; }
a:hover.bold { font-weight: bold; text-decoration: underline; color: #000000; }
a:active.bold { font-weight: bold; text-decoration: none; color: #000000; }

a:link { color: #000000; text-decoration: underline; }
a:visited { text-decoration: underline; color: #000000; }
a:hover { text-decoration: none; color: #000000; }
a:active { text-decoration: underline; color: #000000; }
a img { border: none; }

br.pagebreak { page-break-after: always; }
td.right { text-align: right; }

.freshform { margin:auto; }
.freshform fieldset { padding:10px; }
.freshform legend { font-weight:bold; font-size:9pt; }
.freshform label { display:block; height:2em; background-color:#E7E7E7; padding:10px 10px 0; }
.freshform input, select { margin-right:20px; border:1px solid #999999; float:right; clear:right; background:#CCCCCC; }
.freshform input:focus,.freshform input:hover { border:1px solid #333333; }